      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
            <span style="color:red">Ya</span>tube</a>
          </a>
          <h1> Ссылка на главную страницу: </h1>
          
        </div>
      </nav>  
      <h1> Ссылка на главную страницу: </h1>
      <a href="{% url 'posts:main' %}">
        Подробная информация
      </a>